# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/

# Data and output files - IMPORTANT
# These are ignored because they should live outside the project folder
# as per our defined structure.
/data/
/outputs/

# Specific file types to ignore if they appear in the project folder
*.csv
*.kea
*.shp
*.gpkg
*.tif
*.tar
*.zip

# Temporary files from rsgislib
rsgislibsegtmp*/
